body {
    background-color:white;
    justify-content: center;
    align-items: center;
  }

  .main{
    width:1200px;
    height: 400px;
  }
  .card1 {
    width:600px;
    float: left;
    padding: 10px 10px;
    justify-content: center;
  }
  .card2 {
    width:600px;
    float: right;
    padding: 10px 10px;
    justify-content: center;
    transform: scale(-1, 1); 
  }
  .card3 {
    margin: 20px;
    text-align: center;
  }

  h1 {
    font-family: Impact;
    text-align: center;
  }
  
  
  